body {
    font-family: 'Lato', cursive;
    font-size: 14px;
}
.bodyimage {
    padding-left: 10px;
}
#container
{
	margin: 0 auto;
	width: 920px;
	background: #fff;
}

#header
{
	padding: 20px;
	border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
	background: #FFC200 url(/images/safeicon.png) no-repeat 10px 15px;
	padding-left: 120px;
	color: #730046;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}
#header h1 { 
    margin: 0; 
    font-size: 4em;
        font-family: 'Bowlby One SC', cursive;
}

#header h2 {
    font-size: 1.2em;
    font-family: 'Carme', sans-serif;
    padding: 0;
    margin-top: -10px;
}

#navigation
{
	float: left;
	width: 920px;
	background: #C93C00;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#383; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background:#FFC200;
	text-align: right;
	padding: 20px;
	height: 1%;
		color: #730046;
}


/** Zend form resetters **/
.zend_form dt, .zend_form dd {
    margin: 0;
    padding: 0;
} 
input[type=text], input[type=password] {
    font-size: 1.4em;
    padding: 5px;
}
/** // Zend Form **/
#ct_left {
    width: 600px;
    float: left;
}
#ct_right {
    width: 230px;
    margin-left: 630px;
    border: 2px solid #C93C00;
    padding: 10px;
}
.box_title {
    padding: 10px;
    background-color: #FFC200;
    display: block;
}
.box_title h3 {
    display: inline;
}
label {
    font-weight: bold;
}

#flashMessage {
    position: absolute;
    top: 125px;
    left: 50%;
    margin-left: -150px;
    display: block;
    background-color: orange;
    width: 300px;
    height: 30px;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    z-index:100;
    
}

textarea#tag_content {
    width:200px;
    height:100px;
}


li.taglist-item {
    display:block;
    border:1px solid grey;
    padding:5px;
    margin:5px;
    background-color: #ddd;
    width:150px;
}

li.taglist-item a {
    text-decoration: none;
}

li.taglist-item a.delete-tag {
    float:right;
}

#tag-list-container {
    float: left;
}

#activityStream {
    float:right;
    width:70%;
}

ul.activityStream {
    margin: 0;
    padding: 0;
}

li.activityStream-event {
    display:block;
    border:1px solid grey;
    padding:5px;
    margin:5px;
    background-color: #ddd;
}

p.small {
    font-size: 0.7em;
}
span.brand_name {
    font-family: 'Bowlby One SC', cursive;
    font-size: 0.8em;
}