body {
    font-family: 'Lato', cursive;
    font-size: 14px;
    background: #474747 url(/images/bg.png);
    color: #ffffff;
    margin: 0; padding: 0;
}
.bodyimage {
    padding-left: 10px;
}
#container
{
	margin: 0 auto;
	width: 920px;
}
#header
{
    clear: left;
    padding: 20px;
	padding-left: 120px;
	background: transparent url(/images/safeicon.png) no-repeat 10px 15px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}
h3 {
    font-size: 1.4em;
}
#header h1 { 
	display: block; 
	text-decoration: none;
    color: #ccc; 
    text-shadow: 0px 3px 8px #2a2a2a;
    margin: 0; 
    padding: 0;
    font-size: 4em;
    font-family: 'Bowlby One SC', cursive;
}

#header h2 {
    font-size: 1.5em;
    font-family: 'Carme', sans-serif;
    padding: 0;
    margin-top: -15px;
    color: #222;
    text-shadow: 0px 2px 3px #555;

}

#navigation
{
    width: 100%;
	float: left;
	text-align: center;
	background: #666;
}
#subNav {
    margin: auto;
    width: 920px;
    height: 20px;

}
#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	
}

#navigation li a
{
	display: block;
	float: left;
	padding: 10px 20px;
    color:#111;
	text-decoration: none;
	border-right: 1px solid #fff;

}
#navigation li a.first {
    border-left: 1px solid #fff;
}
#navigation li a:hover { background:#383; }

#content
{

	padding: 20px;
}
#footer a, #content a {
    color: #fff;
}

#footer a:hover, #content a:hover {
    color: #383;
}

#content h2
{
	color:#fff;
	font-size: 160%;
	margin: 0 0 .5em;
		font-weight: 100;
}

#footer
{

	text-align: right;
	padding: 20px;
	height: 1%;
	color: #fff;
	font-size: 0.8em;
	/** border-top: 1px solid #333; **/
    padding-top: 10px;
}


/** Zend form resetters **/
.zend_form dt, .zend_form dd {
    margin: 0;
    padding: 0;
} 
input[type=text], input[type=password] {
    font-size: 1.4em;
}
label {
    font-size: 1.5em;
}
/** // Zend Form **/
#ct_left {
    width: 600px;
    float: left;
}
#ct_right {
    width: 230px;
    margin-left: 630px;
    border: 1px solid #333;
    padding: 10px;
}
.box_title {
    display: block;    
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
.box_title h3 {
    display: inline;
    color: #fff;

    font-weight: 100;
    margin: 0; padding: 0;

}
label {
    font-weight: bold;
}

#flashMessage {
    position: absolute;
    top: 125px;
    left: 50%;
    margin-left: -150px;
    display: block;
    background-color: orange;
    width: 300px;
    height: 30px;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    z-index:100;
    
}

textarea#tag_content {
    width:200px;
    height:100px;
}

#tag-list-container ul {
    margin: 0;
    padding: 0;
}
li.taglist-item {
    display:block;
    border-bottom: 1px solid #222;
    padding:5px;
    margin:5px;
    width:150px;
}

li.taglist-item a {
    text-decoration: none;
}

li.taglist-item a.delete-tag {
    float:right;
}

#tag-list-container {
    float: left;
}

#activityStream {
    margin-left: 230px;
    
}

ul.activityStream {
    margin: 0;
    padding: 0;
}

li.activityStream-event {
    display:block;
    border-bottom :1px solid #222;
    padding:5px;
    margin:5px;

    width: 640px;
}

p.small {
    font-size: 0.7em;
}
span.brand_name {
    font-family: 'Bowlby One SC', cursive;
    color: #ccc;
    	font-weight: 100;
}

#dashboard {

}

#dashboard h1, h1.signup {
    font-size: 2em;
    font-family: 'Carme', sans-serif;
    padding: 0;
    color: #222;
    text-shadow: 0px 2px 3px #555;

}
p.signup {
    font-size: 1.4em;
}

/** MODAL **/
#form-container label {
    font-size: 0.8em;
}
#form-container input[type=text] {
    font-size: 1.4em;
    width: 240px;
}
textarea#tag_content {
    width: 250px;
    height: 200px;
}
.ui-widget-header { border: 1px solid #e78f08; background: none; color: #ffffff; font-weight: bold; }

/** MODAL **/
.shadow {
  -moz-box-shadow: 0 2px 5px #000;
  -webkit-box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px #000;
}

.smsafenumber {
    font-size: 1.3em;
    font-weight: bold;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}